.newword{
    color: red;
   font-size: 55px;
}

.besttoystext{
    color: DarkSlateGrey;
}






.labels{
    position: relative;
    top: 0px;
    left: 10px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 1.6em;
}

.labelcategory{
    position: relative;
    top: 19px;
    left: 10px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 1.6em;
}
.firstdiv{
    display: flex;
    height: 202px;
}

.divlogo{
 flex:1
}
.everythingyouneeddiv{
   flex:3
}

.seconddiv{
    display: flex;
    align-content: center;
}
.divnewcustomer{
    flex: 1;
    background-color: #edf1f4;
    box-sizing: border-box;

}

.sommersalediv{
    flex: 2;
    height: 70px;
}

.sommersale{
  
        width:460px;
}      
   


.gifticon{
    position: relative;
    top:14px;
    left: 7px;
}




.each-slidee{
    position: relative;
    width: 1000px;
   
}
.each-imagee{
    position: relative;
    width: 700px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slidess{
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
    
}

.sale-image{
    position: relative;
    width:500px;
    left: 40px;
}



.best-toys{
    position: relative;
    width: 480px;
}



.sildesdiv{
    position: relative;
    width: 100%;
    float: left;
}

.imagelefttotheslides{
    position: relative;
    right: 43ch;
    height: 600px;

}

.topdiv{
    width: 100%;
    height: 500px;
    
}

.logobutton{
    position: relative;
   bottom:40px;
}

.logopic{
    position: relative;
    height: 190px;
}




.everythingpic{
    position: relative;
    top: 40px;
    height: 80px;
}


@media (max-width :950px){
    .firstdiv{
        display: none;
    }

    .seconddiv{
        display: none;
    }

    



.topdiv{

    display: none;

}


}