.sstyle {
background-color: red;

}


.topbarbuttons{
    margin-left: 4px;

}

.searchbutton{
    position: relative;
    left: 22ch;
    background-color: white;
  
}

.nameofbuttons{
    font-size: 800%
}