.sstyle {
background-color: red;

}


.topbarbuttons{
    margin-left: 4px;

}

.searchbutton{
    position: relative;
    left: 22ch;
    background-color: white;
  
}

.nameofbuttons{
    font-size: 800%
}
.logopicture{
    position: relative;
    width: 201px;
    height: 66px;
    bottom: 8px;
  
}

.image-button{
    background-color: white;
    color: white;
}


.picdiv{
    float: left;
	width: 14.2%;
}

.appbardiv{
    float: left;
    width :85.8%;
}