.each-slide{
    position: relative;
    width: 400px;
   
}
.each-image{
    height: 300px;
}
.slides{
    position: relative;
    top: 4ch;
   right: 18ch;
    width: 500px;
}

.box{
    position: relative;
    bottom: 32ch;
    left: 40ch;
}

.price-text{
position: relative;
right: 6ch;
top: 1.4ch;
        color: red;
        font-size: 35px;
   
}

.delivery-text{
    position: relative;
right: 10.3ch;
top: 5ch;
font-size: 19px;
}


.available-text{
    position: relative;
    right: 12ch;
    top: 3ch;
    font-size: 22px; 
    color: green;
}


.color-text{
    position: relative;
right: 11ch;
top: 7ch;
font-size: 19px;
}


.slide-container{
    position: relative;
    top: 13ch;
 
}


.addtoCartbutton{
    width: 250px;
    height: 60px;
   color: blue;
    position: relative;
    top: 21ch;
}